.alert {
  position: absolute;
  top: 19px;
  left: 0;
  display: block;
  width: 15px;
  height: 19px;
  margin-left: 76%;

  &:hover {
    @include hover();
    cursor: pointer;
  }
}

.alert__count {
  position: absolute;
  top: -5px;
  left: 8px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  background: #e54d4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
