.arrow {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 170px;
  height: 60px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;

  &::after {
    content: "";
    border: solid transparent;
    position: absolute;
    left: 99.7%;
    top: 0;
    border-left-color: #ffffff;
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 10px;
    border-right-width: 20px;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/icon-qr.svg");
  }
}

input {
  width: 100px;
  border: none;
  margin-left: 25px;
  padding-left: 30px;
  background: url("../img/icon-search.svg") left center no-repeat;

  &::placeholder {
    color: #000000;
    font-size: 18px;
  }

  &:focus {
    background: none;
    padding-left: 0;
  }
}
