.card {
  display: flex;
  width: 545px;
  height: 200px;
  padding: 33px 30px 15px;
  margin-top: 7px;
  margin-left: 20px;
  background-image: url("../img/bg-card.png");
  background-size: 103.3%;
  background-position-x: -9px;
  background-repeat: no-repeat;
  z-index: 1;
}

.card__requisite {
  color: #2c2f32;

  h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 13px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }
}

.card__info {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  padding-top: 5px;
}

.card__detalis {
  position: relative;
  display: flex;
  margin-bottom: 26px;
  margin-left: 27px;

  p {
    width: 95px;
    text-align: center;
    font-size: 9px;
    line-height: 1.4;
    color: #2673b9;
    text-decoration: dashed underline rgb(121, 121, 197);
  }
}
