.payment {
  display: flex;
  justify-content: flex-end;
  background-color: #eeeff1;
}

.payment__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
}

.payment__title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 25px;
  background: #f8f8f8;

  h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin-left: 28px;
  }
}

.payment__scroll {
  width: 100%;
  height: 520px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

// Сумма
.total {
  margin-top: 25px;
  margin-left: 12px;
}

.total__count {
  font-size: 46px;
  line-height: 54px;
  color: #cf4545;
}

.total__bill {
  font-size: 16px;
  line-height: 22px;
  color: #2c2f32;
  margin-left: 3px;

  span {
    color: #828a96;
  }
}

.total__data {
  width: 162px;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  background: #81c624;
  border-radius: 15px;
  margin-left: 59px;

  span {
    text-transform: uppercase;
  }
}

// scroll
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 6px #c6c6c6;
}
